<a href="https://colab.research.google.com/github/nunchikochi/Kiwoom/blob/main/%EB%B0%A9%EC%A0%95%EC%8B%9D%EC%9D%98_%EC%9D%B4%ED%95%B4_%EC%9D%BC%EC%B0%A8%EB%B0%A9%EC%A0%95%EC%8B%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **준비하기**
*   **파일>드라이브에 사본 저장** 하기
*   **런타임>모두 실행** 하기

# ▣ 방정식의 이해


1. 문자 사용과 식의 계산
2. 일차방정식

# 1. 문자 사용과 식의 계산

> [예제1]



*  숫자를 문자에 대입하여 계산한다.

    *   (예시) 1부터 5까지의 합을 계산한 값을 구해보자.

In [ ]:
#@title 예시 코드 { display-mode: "form" }

a=5
sum=0

while a>0:          #a가 0보다 클 때, 반복 수행한다.
    sum=sum+a       #sum변수에 a의 값을 더하여 저장한다.
    a=a-1           #a변수에 a-1의 값을 저장한다.
print(sum)

15

⭐ 아래 코드 셀에 직접 코드를 입력해보자.



---

> [예제2]

*  ![image.png]()

In [ ]:
#@title 예시 코드 { display-mode: "form" }

x=2
y=-4

result=x**2 +x*y
print(result)

-4

⭐ 아래 코드 셀에 직접 코드를 입력해보자.



---

> [예제3]

1. 정가가 10,000원인 책을 a% 할인하여 x권을 구매할 때, 지불해야 할 금액을 a,x에 관한 식으로 나타내면?
2. 이 때, 할인율 a가 10, 20, 30%이고, 구매할 책의 권수 x가 5, 8, 11일 때, 각 조합에서 계산한 값은?
3. 가장 비싸게 지불할 경우 몇 권의 책을 얼마의 할인율로 사게 되는지 구하시오.

In [ ]:
#@title 2의 예시코드 { display-mode: "both" }
import numpy as np

a = range(10,31,10)
x = range(5,12,3)
cost = np.zeros((len(a), len(x)))
for i in range(len(a)):
    for j in range(len(x)):
        cost[i,j] = 10000*(1-a[i]/100)*x[j]
cost

array([[45000., 72000., 99000.],
       [40000., 64000., 88000.],
       [35000., 56000., 77000.]])

In [ ]:
#@title 3의 예시코드
np.where(np.max(cost) == cost)

(array([0]), array([2]))

따라서 할인율은 첫번째(인덱스 0) 값인 10%, 책의 권수는 세번째(인덱스2) 값인 11권을 구매할 때, 가장 비싸게 구매하고 그 값은 99,000이다.

In [ ]:
#@title 가장 비싸게 살 때의 값
cost[0,2]

99000.0

⭐ 아래 코드 셀에 직접 코드를 입력해보자.

# 2. 일차방정식

![image.png]()

> [예제1]

* 2x-3=0 의 해를 구하시오.

In [ ]:
#@title 예시 코드
from fractions import Fraction

a=2
b=-3

x=Fraction(-b,a)

print(x)

3/2

⭐ 아래 코드 셀에 직접 코드를 입력해보자.

> ax+b=0 에서 a, b의 값을 입력받아 그 해를 리턴하는 함수를 만들어보자.

In [ ]:
#@title 예시 코드
from fractions import Fraction

def linear_eq(a,b):
    x=Fraction(-b,a)
    return x

In [ ]:
#@title a, b 입력하여 일차방정식 해 구하기
a = 4 #@param {type:"integer"}
b = 5 #@param {type:"integer"}

print(linear_eq(a,b))

-5/4

⭐ 아래 코드 셀에 직접 코드를 입력해보자.

In [ ]:
#@title a, b 입력하여 일차방정식 해 구하기
a = 4 #@param {type:"integer"}
b = 5 #@param {type:"integer"}

print(linear_eq(a,b))

-5/4

> ax+b=0 에서 a, b의 값을 입력받아 그 해를 리턴하는 함수를 만들어보자.
(일차항의 계수 a가 0인 경우 해결할 수 있는 조건문을 추가하여 함수를 수정하여보자.)

In [ ]:
#@title 예시 코드
from fractions import Fraction

def linear_eq(a,b):
    if a==0:
        if b==0:
            return "해가 무수히 많다."
        else:
            return "해가 없다."
    else:
        x=Fraction(-b,a)
    return x

In [ ]:
#@title a, b 입력하여 일차방정식 해 구하기
a = 0 #@param {type:"integer"}
b = 5 #@param {type:"integer"}

print(linear_eq(a,b))

해가 없다.

⭐ 아래 코드 셀에 직접 코드를 입력해보자.

In [ ]:
#@title 예시 코드
from fractions import Fraction


def P_eq(a,b):
    x=Fraction(-b,a)
    return x





a = 4 #@param {type:"integer"}
b = 5 #@param {type:"integer"}

print(P_eq(a,b))

-5/4

> 임의의 일차방정식 문제 생성 프로그램을 만들어보자.

In [ ]:
#@title 예시 코드
import numpy as np
from fractions import Fraction

class Linear_equation:
    def question(self):
        self.coefficient=np.random.randint(-10,10) #a의 값 ; 일차항 계수
        self.contant=np.random.randint(-20,20) #b의 값 ; 상수항
        print(f'{self.coefficient}x + {self.contant} = 0')

    def answer(self):
        x=linear_eq(self.coefficient,self.contant)
        return x



---


임의의 일차 방정식을 구한 후 해를 구한다.



---

In [ ]:
q1=Linear_equation()
q1.question()

-6x + 10 = 0



---


직접 풀이하여 얻은 해와 비교한다.



---

In [ ]:
print(q1.answer())

5/3